.nome{font-size: 23px; text-align: center;}
#sobremim{font-size: 27px; position: absolute; top: 220px; left: 180px;}    
.body{background-color: rgb(76, 183, 245);}
.origem{font-style: italic;
color:rgb(0, 53, 114);}
.git{font-weight: 1000; height: 25px; font-style: oblique;}
.html{font-weight: 800; height: 25px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
.css{font-weight: 600; height: 25px;}
.jvs{font-weight: 400; height: 25px;font-family: monospace; }
.descricao{font-size: large;position: absolute; top: 290px; left: 180px;}
#imagem{background-color:aquamarine; padding: 7px; width: 150px;}
.impar{background-color: aquamarine; width: 220px;}